<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>A Todo App</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav><a href="{{ path('dashboard') }}">Dashboard</a> - <a href="{{ path('users.list') }}">Users</a> - <a href="{{ path('logout') }}">Log out</a> </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
